body{
  background-color: rgb(242, 242, 242);
  color: #383838;
}

img{
  border: solid 4px #383838;
  border-radius: 8px;
  background-color: rgb(234, 234, 234);
}

.MyProfile{
  width : 680px;
  margin: 60px auto;
}

p{
  font-size: 24px;
}

small{
  font-size: 20px;
}